@media screen and (max-width: 1280px) {
  .search-icon {
    width: 40px !important;
    height: 30px !important;
    background-color: #fff !important;
    position: absolute;
    right: 4px;
    top: 4px;
  }
}
@media screen and (max-width: 640px) {
  /* .hooper {
    height: 267px;
  } */
  .txt-mobile {
    font-size: 14px;
  }
  /* .txt-mobile2 {
      font-size: 8px;
    } */
}
@media screen and (max-width: 600px) {
  /* .hooper {
    height: 267px;
  } */
  .txt-mobile {
    font-size: 14px;
  }
  /* .txt-mobile2 {
    font-size: 8px;
  } */
}
@media screen and (max-width: 300px) {
  .txt-mobile {
    font-size: 12px;
  }
  .txt-mobile2 {
    font-size: 8px;
  }
  .txt-mobile3 {
    font-size: 6px;
  }
}
